*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}

 .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;           
    justify-content: center; 
    align-items: center;    
    flex-direction: column; 
    text-align: center;      /* Texte centré */
}

.content {
    display: flex;
    gap: 5em;
    width: 100%;
    padding-top: 3em;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
    transform: scaleX(1);
}

h1 {
    font-size: 4rem;
    width: 50vw;
    line-height: 97%;
    text-align: right;
}

h1, p {
    flex-basis: 0;
    flex-grow: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

p {
    font-size: 1.3rem;
    width: 0vw;
}

/* Style pour la balise "Découvrir" */
#discover {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    transition: all 0.3s ease;
}

#discover:hover {
    color: #00bfff;
    border-bottom: 1px solid #00bfff;
}
